@layer components {
  .image-caption img {
    @apply block;
    margin-block: 0 !important;
  }

  article .twitter-tweet {
    width: min(100%, 480px) !important;
    max-width: 480px !important;
    margin: 1.5rem auto !important;
    zoom: 0.9;
  }

  article .twitter-tweet > iframe {
    width: 100% !important;
    max-width: 100% !important;
  }

  .admonition > :last-child {
    margin-bottom: 0 !important;
  }

  article .github-card__link {
    text-decoration: none !important;
  }
}
