---
type Props = {
  draft?: boolean;
};

const { draft } = Astro.props as Props;
---

{
  draft && (
    <span class="inline-flex items-center text-base leading-none font-semibold text-blue-700 dark:text-blue-400">
      (draft)
    </span>
  )
}
