<div class="giscus"></div>

<script
  is:inline
  data-astro-rerun
  src="https://giscus.app/client.js"
  data-repo="nematatu/blog"
  data-repo-id="R_kgDORD91vw"
  data-category-id="DIC_kwDORD91v84C-WdZ"
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme="dark_dimmed"
  data-lang="ja"
  data-loading="lazy"
  crossorigin="anonymous"
  async></script>
