---
import type { Socials } from "../types";
import Link from "@components/Link.astro";

type Props = {
  socials: Socials;
  class?: string;
};

const { socials, class: className } = Astro.props;
---

<ul class={`flex flex-wrap items-center gap-3 ${className ?? ""}`}>
  {socials.map((social) => (
    <li>
      <Link href={social.HREF} external={social.EXTERNAL} underline={false}>
        <span class="inline-flex items-center gap-2 text-xs text-black/60 dark:text-white/60 hover:text-black dark:hover:text-white">
          <iconify-icon icon={social.ICON} class="text-base" />
        </span>
      </Link>
    </li>
  ))}
</ul>
