---
import type { Heading } from "./TableOfContents.astro";

// https://kld.dev/building-table-of-contents/

const { heading } = Astro.props;
---

<li class="list-none py-1.5 text-sm">
  <a
    href={"#" + heading.slug}
    class="inline-block max-w-full break-words text-current underline decoration-black/30 underline-offset-[3px] hover:text-black hover:decoration-black/50 focus-visible:text-black focus-visible:decoration-black/50 data-[active=true]:font-semibold data-[active=true]:text-blue-700 data-[active=true]:decoration-blue-600 data-[active=true]:decoration-2 dark:decoration-white/30 dark:hover:text-white dark:hover:decoration-white/50 dark:focus-visible:text-white dark:focus-visible:decoration-white/50 dark:data-[active=true]:text-blue-300 dark:data-[active=true]:decoration-blue-300"
    data-toc-link={heading.slug}
  >
    {heading.text}
  </a>
  {
    heading.subheadings.length > 0 && (
      <ul class="ml-3 border-l border-black/10 pl-3 dark:border-white/10">
        {heading.subheadings.map((subheading: Heading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>
