---
import Footer from "@components/Footer.astro";
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Pagefind from "@components/PageFind.astro";
import { SITE } from "@consts";

type Props = {
  title: string;
  description?: string;
  image?: string;
};

const { title, description, image } = Astro.props;
const resolvedDescription = description ?? SITE.DESCRIPTION;
---

<!doctype html>
<html lang="ja" class="dark">
  <head>
    <Head
      title={`${title} | ${SITE.TITLE}`}
      description={resolvedDescription}
      image={image}
    />
  </head>
  <body>
    <budoux-ja>
      <Header />
      <main>
        <slot />
      </main>
      <Footer />
      <Pagefind />
    </budoux-ja>
  </body>
</html>
